@import "~taro-ui/dist/style/components/modal.scss";
.container{
  display: flex;
  flex-direction: column;
  height:100%;
  background: #fff;
}
.hospital{
  margin-top: 20rpx;
  font-size: 36px;
  color: #333;
  margin-bottom: 76rpx;
}
.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hospital-img{
  width: 164rpx;
  height: 164rpx;
}
.main{
  padding-top: 92rpx;
  display: flex;
  flex-direction: column;
}

.auth{
  font-size: 32px;
  color: #333333;
}
.info{
  font-size: 28px;
  color: #999999;

}
.wx-login-btn{
  margin-top: 50rpx;
  background: #00B100;
  width: 640rpx;
  height:88rpx;
  text-align: center;
  color:#fff;
  border-radius: 10PX;
}
._container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap{
  width: 640rpx;
  margin-top: 26rpx;
  //height: 88rpx;
  text-align: left;
}
.wrap_line{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32rpx;
}
.line{
  height:0;
  width: 640rpx;
  border-bottom: 1rpx solid #eee;
  transform: scaleY(0.5);
}
