@import "~taro-ui/dist/style/components/swipe-action.scss";
.my-create-box{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  background: #F5F6F9;
}
//.list-row---layout{
//  display: flex;
//  flex-direction: column;
//}
.list-row--layout{
  display: flex;
  height: 78PX;
  background: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1PX solid #EEEEEE;
}
.list-row--view{
  display: flex;
  margin-left: 20PX;
  margin-right: 20PX;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header{
  height: 45PX;
  background: #FFFFFF;
  display: flex;
}
.org-view{
  display: flex;
  flex:1;
  height: 45PX;
}
.org-text{
  font-family: PingFangSC-Regular;
  font-size: 16PX;
  color: #06B48D;
  margin: auto;
}
.personal-act-view{
  display: flex;
  flex:1;
  height: 45PX;
}
.personal-act-text{
  margin: auto;
  font-family: PingFangSC-Regular;
  font-size: 16PX;
  color: #333333;
}
.all-view{
  display: flex;
  flex:1;
  height: 45PX;
  box-sizing: border-box;
  border-bottom: 2PX solid #06B48D;
}
.all-text{
  font-family: PingFangSC-Regular;
  font-size: 16PX;
  color: #06B48D;
  margin: auto;
}
